/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    
	
    background-color: #4b3017;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #c8a581;
}



p {
	color: #c8a581;
}


/* Elements
--------------------------------------------- */
.site-nav ul {
    list-style-type: none;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
   
}

@media (min-width:50em) {
    .site-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 2rem;
        margin: 1rem;
        padding: 1rem;
    }
}


/* Links
--------------------------------------------- */
a {
    text-decoration: none;
    color: #c8a581;
}
/* a:hover,
a:focus {
    text-decoration: none;
    
} */

/* a:active {
    text-decoration: none;
	color: #FEFAE0;
} */



/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

.page-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    width: 100%;
}

.page-header img {
    width: 100%;
    height: auto;
}

.page-header h1,
.page-header p {
    display: block;
    position: absolute;
    top: 35%;
    left: 20%;
    color: white; 
    margin: 0;
    padding: 0;
}
.page-header p{
    padding-top: 3rem;
}
 
@media (min-width: 50em) {


.page-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}

.page-header img {
    width: 100%;
    height: auto;
}

.page-header h1,
.page-header p {
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    margin: 0;
    padding: 0;
}
.page-header p{
    padding-top: 6rem;
}
	
}



/* Main
--------------------------------------------- */
.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.site-section{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; 
    flex-basis: 100%;
    max-width: 100%;
}

.site-main h2 {
    text-align: center;
    margin: 2rem;
    padding: 1rem;
}



@media (min-width: 50em) {
    .site-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
        margin-bottom: 1rem;
        flex-basis: 30%;
        max-width: 30%;
    }

    .site-section img {
        width: 100%;
    }

    .site-section h3 {
        text-align: center;
    }

    section h2 {
        margin: 1rem;
        padding: 1rem;
        
    }

}

        
/* Footer
--------------------------------------------- */
