/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    
	font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
}



p {
	
}


/* Elements
--------------------------------------------- */
.site-nav ul {
    list-style-type: none;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
.site-header
footer{
    background-color: #BC6C25;
    width: 100%;
    
}

.page-header {
    position: relative;
    text-align: center;
}

.page-header img {
    width: 100%;
    height: auto;
}

.page-header h1,
.page-header p {
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    margin: 0;
    padding: 0;
}
.page-header p{
    padding-top: 6rem;
}
	




/* Main
--------------------------------------------- */


/* Footer
--------------------------------------------- */
