/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    
	font-size: 1.5rem;
    background-color: #4b3017;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #c8a581;
}



p {
	color: #c8a581;
}


/* Elements
--------------------------------------------- */
.site-nav ul {
    list-style-type: none;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
    text-decoration: none;
    color: #c8a581;
}
/* a:hover,
a:focus {
    text-decoration: none;
    
} */

/* a:active {
    text-decoration: none;
	color: #FEFAE0;
} */



/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
.site-header,
footer{
   
 
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}

.page-header img {
    width: 100%;
    height: auto;
}

.page-header h1,
.page-header p {
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    margin: 0;
    padding: 0;
}
.page-header p{
    padding-top: 6rem;
}
	




/* Main
--------------------------------------------- */
.site-section{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.site-section h2 {
    text-align: center;
    margin: 2rem;
}
/* Footer
--------------------------------------------- */
